@use '../../../abstracts/mixins' as mix;
@use '../../../abstracts/var';


.custom-section__logos{
  display: flex;
  margin-top: 3.2rem;
  overflow-x: scroll;
  @include mix.clamped(column-gap, 16, 20);

  &::-webkit-scrollbar{
    width: 2rem;
    display: none;
  }
  &::-webkit-scrollbar-thumb{ 
    background-color: #666;
  }
  &::-webkit-scrollbar-track{ 
    background-color: #ddd;
  }
}
