@use '../abstracts/mixins' as mix;
@use '../abstracts/var';


// =============================================================================
// ===   Wrappers   ============================================================
// =============================================================================
.header-wrapper{
  width: 100%;
  height: 100%;
  position: absolute;

  .header{
    position: sticky;
    top: 0;

    &__main{
      @include mix.flex($just: space-between);

      &__left{}
      &__right{
        position: relative;
        @include mix.flex($align: center);
      }
    }
    &__extra{}
  }
}


// =============================================================================
// ===   Logo   ================================================================
// =============================================================================
.header{
}


// =============================================================================
// ===   Page Title   ==========================================================
// =============================================================================
.header{

}


// =============================================================================
// ===   Menu   ================================================================
// =============================================================================
.header{
}


// =============================================================================
// ===   Animation   ===========================================================
// =============================================================================
