@use '../abstracts/mixins' as mix;
@use '../abstracts/var';

.links-wrapper{
  gap: .1rem;
  overflow: hidden;
  @include mix.flex(column, $align:center);

  .link-wrapper{
    flex-grow: 1;
    min-height: 34rem;
    width: 100%;
    @include mix.flex($just: flex-start, $align: center);

    &--no-click{
      pointer-events: none;
      cursor: none;
    }

    &:nth-child(1){
      background-color: var.$primary-1;
    }
    &:nth-child(2){
      background-color: var.$primary-2;
    }
    &:nth-child(3){
      background-color: var.$primary-3;
    }
    &:hover{
      transition: background-color 400ms ease-in-out;
      background-color: var.$primary-4;
    }
  }
  .link{
    @include mix.clamped(margin-left, 38, 146);
    @include mix.header-font();
  }
}


// =============================================================================
// ===   Links Wrapper Animation   =============================================
// =============================================================================
// .links-wrapper--animate{
  // animation: 800ms links-wrapper--animate 800ms ease forwards;
// }
// @keyframes link-wrapper--animate{
  // 100%{
    // gap: 0rem;
  // }
// }


// =============================================================================
// ===   Link Wrapper Animation   ==============================================
// =============================================================================
.links-wrapper{

  .link-wrapper-home-page--animate{
    animation: 800ms link-wrapper--home-page--animate 800ms ease forwards;
  }
  .link-wrapper--current-page--animate{
    animation: 1600ms link-wrapper--current-page--animate ease forwards;
  }
  .link-wrapper--non-current-page--animate{
    animation: link-wrapper--non-current-page--animate 800ms ease forwards;
  }
}
@keyframes link-wrapper--home-page--animate {
  100%{
    min-height: 34rem;
  } 
}
@keyframes link-wrapper--current-page--animate {
  100%{
    min-height: 0vh;
    height: 0vh;
  } 
}
@keyframes link-wrapper--non-current-page--animate {
  100%{
    flex-grow: 0;
    min-height: 0vh; 
    height: 0vh;
  } 
}


.link--animate--from-home{
  animation: var.$ani-dur link--animate--from-home ease forwards ;
}
.link--animate--to-home{
  animation:  var.$ani-dur link--animate--to-home ease forwards ;
}
@keyframes link--animate--from-home {
  0%{
    visibility: visible;
    transform: translateX(0);
  } 
  50%{
    visibility: hidden;
    transform: translateX(-#{ var.$ani-distance });
  } 
  100%{
    visibility: hidden;
    transform: translateX(-#{ var.$ani-distance });
  } 
}
@keyframes link--animate--to-home {
  0%{
    visibility: hidden;
    transform: translateX(-#{ var.$ani-distance });
  } 
  50%{
    visibility: visible;
    transform: translateX(-#{ var.$ani-distance });
  } 
  100%{
    visibility: visible;
    transform: translateX(0);
  } 
}
