@use '../abstracts/mixins' as mix;
@use '../abstracts/var';

.logo-wrapper{
  display: inline-block;
  position: fixed;
  @include mix.clamped(top, 24, 47);
}

.logo{
  @include mix.flex($align: center);

  &__line{
    background-color: black;
    @include mix.clamped(width, 50.49, 76.5);
    @include mix.clamped(height, 6, 8);
  }

  &__itself{
    margin-left: 1.6rem;
    @include mix.font(var.$f-header, 21, 32, 700);
  }
}


.logo-animate{
  animation: logo-animate var.$ani-dur ease;
}

@keyframes logo-animate {
  0%{
    transform: translateX(0)
  } 
  50%{
    transform: translateX(-#{var.$ani-distance})
  } 
  100%{
    transform: translateX(0)
  } 
}
