@use '../abstracts/mixins' as mix;
@use '../abstracts/var';

.page-title-wrapper{
  position: fixed;
  top: 0;
  transform-origin: top right;
  transform: rotate(90deg) translate(100%);
  @include mix.clamped(right, 56, 126);
}


.page-title{
  gap: 1.6rem;
  @include mix.clamped(right, 18, 47);
  @include mix.flex(row, $align: center);

  &__line{
    background-color: var.$secondary;
    @include mix.clamped(height, 6, 8);
    @include mix.clamped(width, 96, 128);
  }

  &__itself{
    @include mix.header-font();
  }
}


.page-title-animate--from-home{
    animation: page-title--tablet-animate--from-home forwards var.$ani-dur ease ;
}
.page-title-animate--to-home{
    animation: page-title--tablet-animate--to-home forwards var.$ani-dur ease ;
}

@keyframes page-title--tablet-animate--from-home {
  0%{
    visibility: hidden;
    transform: rotate(90deg) translate(100%);
    top: 0;
  } 
  50%{
    visibility: hidden;
    transform: rotate(90deg) translate(100%);
    top: -#{var.$ani-distance};
  } 
  100%{
    visibility: visible;
    transform: rotate(90deg) translate(100%);
    top: 0;
  } 
}

@keyframes page-title--tablet-animate--to-home {
  0%{
    visibility: visible;
    transform: rotate(90deg) translate(100%);
    top: 0;
  } 
  50%{
    visibility: hidden;
    transform: rotate(90deg) translate(100%);
    top: -#{var.$ani-distance};
  } 
  99%{
    transform: rotate(90deg) translate(100%);
    top: 0;
  }
  100%{
    visibility: hidden;
    top: 0;
  } 
}
