@use '../abstracts/mixins' as mix;
@use '../abstracts/var';

.socials-wrapper{
  display: inline-block;

  bottom: 0;
  position: fixed;
  @include mix.clamped(right, 18, 47);
}

.socials{
  gap: 1.6rem;
  @include mix.flex(column-reverse, $align: center);

  &__line{
    background-color: black;
    @include mix.clamped(width, 6, 8);
    @include mix.clamped(height, 73.26, 111);
  }

  &__links{
    @include mix.font(var.$f-header, 21, 32, 700);

    gap: .8rem;
    @include mix.flex($dir: column);

  }

  &__links__link{
    img{
      @include mix.clamped(height, 24, 32);
      @include mix.clamped(width, 24, 32);
    }
  }
}


.socials-animate{
  animation: socials-animate var.$ani-dur ease;
}

@keyframes socials-animate {
  0%{
    transform: translateY(0)
  } 
  50%{
    transform: translateY(var.$ani-distance)
  } 
  100%{
    transform: translateY(0)
  } 
}
