@use '../abstracts/mixins' as mix;
@use '../abstracts/var';

.links-wrapper{
  overflow: hidden;
  min-height: 100vh;
  @include mix.flex(column);

  .link-wrapper{
    flex: 1;
    width: 100%;
    @include mix.flex($just: flex-start, $align: center);

    &--no-click{
      pointer-events: none;
      cursor: none;
    }

    &:nth-child(1){
      background-color: var.$primary-1;
    }
    &:nth-child(2){
      background-color: var.$primary-2;
    }
    &:nth-child(3){
      background-color: var.$primary-3;
    }
    &:hover{
      transition: background-color 400ms ease-in-out;
      background-color: var.$primary-4;
    }
  }
  .link{
    @include mix.clamped(margin-left, 38, 146);
    @include mix.header-font();
  }
}


// =============================================================================
// ===   Links Wrapper Animation   =============================================
// =============================================================================
.links-wrapper--active{
  animation: var.$ani-dur links-wrapper--active ease forwards;
}
.links-wrapper--inactive{
  animation: var.$ani-dur links-wrapper--inactive ease forwards;
}
@keyframes links-wrapper--active{
  100%{
    min-height: 100vh;
    gap: .1rem;
  }
}
@keyframes links-wrapper--inactive{
  100%{
    min-height: 0vh;
    height: 0vh;
    gap: 0rem;
  }
}


// =============================================================================
// ===   Link Wrapper Animation   ==============================================
// =============================================================================
.links-wrapper{
  .link-wrapper--to-home--animate{
    animation: var.$ani-dur link-wrapper--to-home--animate ease forwards;

    @include mix.for-size(tablet){
      animation: var.$ani-dur link-wrapper--to-home--tablet--animate ease forwards;
    }
  }
  .link-wrapper--from-home--animate{
    animation: var.$ani-dur link-wrapper--from-home--animate ease forwards;

    @include mix.for-size(tablet){
      animation: var.$ani-dur link-wrapper--from-home--tablet--animate ease forwards;
    }
  }
}
@keyframes link-wrapper--to-home--animate {
  0%{
    flex: 1;
    height: unset;
    min-height: 21.3rem;
    transform: translateX(-100%);
  } 
  100%{
    flex: 1;
    height: unset;
    min-height: 21.3rem;
    transform: translateX(0%);
  } 
}
@keyframes link-wrapper--from-home--animate {
  0%{
    flex: 1;
    min-height: 21.3rem;
    height: unset;
  } 
  99%{
    flex: 1;
    min-height: 0vh;
    height: unset;
  } 
  100%{
    flex: unset;
    min-height: 0vh;
    height: 0vh;
  } 
}
@keyframes link-wrapper--to-home--tablet--animate {
  0%{
    flex: 1;
    height: unset;
    min-height: 34rem;
    transform: translateX(-100%);
  } 
  100%{
    flex: 1;
    height: unset;
    min-height: 34rem;
    transform: translateX(0%);
  } 
}
@keyframes link-wrapper--from-home--tablet--animate {
  0%{
    flex: 1;
    min-height: 34rem;
    height: unset;
  } 
  99%{
    flex: 1;
    min-height: 0vh;
    height: unset;
  } 
  100%{
    flex: unset;
    min-height: 0vh;
    height: 0vh;
  } 
}


// =============================================================================
// ===   Link Animation   ======================================================
// =============================================================================
.link--animate--from-home{
  animation: var.$ani-dur link--animate--from-home ease forwards ;
}
.link--animate--to-home{
  animation:  var.$ani-dur link--animate--to-home ease forwards ;
}
@keyframes link--animate--from-home {
  0%{
    display: inline-block;
    transform: translateX(0);
  } 
  50%{
    display: none;
    transform: translateX(-#{ var.$ani-distance });
  } 
  100%{
    display: none;
    transform: translateX(-#{ var.$ani-distance });
  } 
}
@keyframes link--animate--to-home {
  0%{
    display: none;
    transform: translateX(-#{ var.$ani-distance });
  } 
  50%{
    display: inline-block;
    transform: translateX(-#{ var.$ani-distance });
  } 
  100%{
    display: inline-block;
    transform: translateX(0);
  } 
}
