@use '../abstracts/mixins' as mix;
@use '../abstracts/var';
@use '../components/views/whatIveMade/customSection';


.layout-default{
  .page--what-ive-made{
    background-color: var.$primary-2;
  }
}

.page--what-ive-made{

  // ===========================================================================
  // ===   Custom Section   ====================================================
  // ===========================================================================
  .custom-section{
    
  }

  // ===========================================================================
  // ===   Works Section   =====================================================
  // ===========================================================================
  .section--works{
    
  }

  // ===========================================================================
  // ===   Projects Section   ==================================================
  // ===========================================================================
  .section--projects{ 

  }
}
