$primary-1: #eeeff1;
$primary-2: #e9eaed;
$primary-3: #d2d5da;
$primary-4: #a5abb6;

$primary-1: #ffffff;
$primary-2: #eeeff1;
$primary-3: #e9eaed;
$primary-4: #b0b5bf;
$secondary: #000000;
$accent:    #fee715;

$ani-dur: 1600ms;
$ani-distance: 68rem;

$f-body: 'Open sans', sans-serif;
$f-header: 'Montserrat', sans-serif;
