$accent:    #095622;
$img-bg:    #c7c9d1;
$primary-0: #ffffff;
$primary-1: #eeeff1;
$primary-2: #e9eaed;
$primary-3: #d2d5da;
$primary-4: #a5abb6;
$secondary: #000000;

$ani-dur: 1600ms;
$ani-distance: 68rem;

$f-body: 'Open sans', sans-serif;
$f-header: 'Montserrat', sans-serif;
